@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  * {
    -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
    print-color-adjust: exact !important; /*Chrome, Safari */
    color-adjust: exact !important; /*Firefox*/
  }
  body {
    margin-top: 5px;
    margin-left: 10px;
    zoom: 70%;
    transform-origin: 0 0;
  }
  @page {
    size: auto;
    margin: 0;
  }
  @page :footer {
    display: none;
  }
  @page :header {
    display: none;
  }
}
